@import "tailwindcss";

@theme {
  --color-primary: #8b5cf6; /* Violet 500 */
  --color-primary-dark: #7c3aed; /* Violet 600 */
  --color-background: #f3f4f6; /* Gray 100 */
  --color-surface: #ffffff;
}

body {
  background-color: var(--color-background);
  color: #1f2937; /* Gray 800 */
}
